/* TYPEWRITTER */
.hero-section-type {
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
.type-effect {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.type-effect h1 {
  background: #134e5e;
  background: -webkit-linear-gradient(to right, #134e5e, #71b280);
  background: linear-gradient(to right, #134e5e, #71b280);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dark-mode-parent .type-effect h1 {
  background: #e55d87;
  background: -webkit-linear-gradient(to right, #5fc3e4, #e55d87);
  background: linear-gradient(to right, #5fc3e4, #e55d87);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
